body{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    user-select: none;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

tr{
    border: 1px solid black;
    height: 150px;
}

td{
    border: 1px solid black;
    width: 150px;
    text-align: center;
    font-size: 90px;
    cursor: pointer;
}